<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyRep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h1>Cadastrar Preços:</h1>
        <form method="POST" action="/autentica_precos">
            <p><label>Fornecedor:</label> <input class="form-control" type="text" name="fornecedor" required></p>
            <p>Digite os nomes dos produtos separados por espaço.</p>
            <p><label>Produtos:</label> <input class="form-control" type="text" name="produtos" required></p>
            <p>Digite os preços dos produtos separados por espaço.</p>
            <p><label>Preços:</label> <input class="form-control" type="text" name="precos" required></p>
            <p><button class="btn btn-primary" type="submit">Cadastrar</button></p>
        </form>
    </div>
</body>
</html>